import { PROMPTS } from './prompts';
import { getVoiceName } from './voiceOptions';

export const BOT_READY_TIMEOUT = 15 * 1000; // 15 seconds
export const DEMO_CALL_LIMIT = 5;
export const BOT_MAX_DURATION = 300;

export const defaultBotProfile = "voice_2024_08";
export const defaultMaxDuration = 300;

export const LANGUAGES = [
  {
    label: "English",
    value: "en-US",
    tts_model: "sonic-english",
    stt_model: "nova-2-conversationalai",
    default_voice: "79a125e8-cd45-4c13-8a67-188112f4dd22",
  },
  {
    label: "French",
    value: "fr",
    tts_model: "sonic-multilingual",
    stt_model: "nova-2-general",
    default_voice: "a8a1eb38-5f15-4c1d-8722-7ac0f329727d",
  },
  {
    label: "Spanish",
    value: "es",
    tts_model: "sonic-multilingual",
    stt_model: "nova-2-general",
    default_voice: "846d6cb0-2301-48b6-9683-48f5618ea2f6",
  },
  {
    label: "German",
    value: "de",
    tts_model: "sonic-multilingual",
    stt_model: "nova-2-general",
    default_voice: "b9de4a89-2257-424b-94c2-db18ba68c81a",
  },

  /* Not yet supported by Cartesia {
    label: "Portuguese",
    value: "pt",
    tts_model: "sonic-multilingual",
    stt_model: "nova-2-general",
    default_voice: "700d1ee3-a641-4018-ba6e-899dcadc9e2b",
  },
  {
    label: "Chinese",
    value: "zh",
    tts_model: "sonic-multilingual",
    stt_model: "nova-2-general",
    default_voice: "e90c6678-f0d3-4767-9883-5d0ecf5894a8",
  },
  {
    label: "Japanese",
    value: "ja",
    tts_model: "sonic-multilingual",
    stt_model: "nova-2-general",
    default_voice: "2b568345-1d48-4047-b25f-7baccf842eb0",
  },*/
];

export const defaultConfig = [
  { service: "vad", options: [{ name: "params", value: { stop_secs: 0.3 } }] },
  {
    service: "tts",
    options: [
      { name: "voice", value: LANGUAGES[0].default_voice },
      { name: "model", value: LANGUAGES[0].tts_model },
      { name: "language", value: LANGUAGES[0].value },
    ],
  },
  {
    service: "llm",
    options: [
      { name: "model", value: "meta-llama/Meta-Llama-3.1-70B-Instruct-Turbo" },
      {
        name: "initial_messages",
        value: [
          {
            role: "system",
            content: PROMPTS.receptionist,
          },
        ],
      },
      { name: "run_on_config", value: true },
    ],
  },
  {
    service: "stt",
    options: [
      { name: "model", value: LANGUAGES[0].stt_model },
      { name: "language", value: LANGUAGES[0].value },
    ],
  },
];

export const defaultConfigV2 = {
  llm: {
    model: "meta-llama/Meta-Llama-3.1-70B-Instruct-Turbo",
    messages: [
      {
        role: "system",
        content: PROMPTS.receptionist
      },
    ],
  },
  tts: {
    voice: LANGUAGES[0].default_voice,
  },
};

export const defaultServices = {
  llm: "openai",
  tts: "cartesia",
  stt: "deepgram",
};

function getCurrentDate() {
  const now = new Date();
  return now.toLocaleDateString('en-US', { 
    year: 'numeric', 
    month: 'long', 
    day: 'numeric' 
  });
}


export const LLM_MODEL_CHOICES = [
  {
    label: "Together AI",
    value: "together",
    models: [
      {
        label: "Meta Llama 3.1 70B Instruct Turbo",
        value: "meta-llama/Meta-Llama-3.1-70B-Instruct-Turbo",
      },
      {
        label: "Meta Llama 3.1 8B Instruct Turbo",
        value: "meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo",
      },
      {
        label: "Meta Llama 3.1 405B Instruct Turbo",
        value: "meta-llama/Meta-Llama-3.1-405B-Instruct-Turbo",
      },
    ],
  },
  {
    label: "Anthropic",
    value: "anthropic",
    models: [
      {
        label: "Claude 3.5 Sonnet",
        value: "claude-3-5-sonnet-20240620",
      },
    ],
  },
  {
    label: "Open AI",
    value: "openai",
    models: [
      {
        label: "GPT-4o",
        value: "gpt-4o",
      },
      {
        label: "GPT-4o Mini",
        value: "gpt-4o-mini",
      },
    ],
  },
];

export const PROMPT_OPTIONS = [
  { 
    label: "Receptionist",
    secondaryLabel: "Salon",
    value: "receptionist",
    features: [
      "Book a haircut appointment at Style Hub Salon",
      "Ask about services & pricing", 
      "Check salon hours, location"
    ]
  },
  { 
    label: "Custom Prompt",
    secondaryLabel: "Write your own",
    value: "custom",
    features: ["Use your own custom prompt"]
  },
];